<!doctype html>

<!-- Quick Launch Page -->

<html>
    <head>
	<meta charset="utf-8">
	
	<title>XML Data</title>
	
	<!--  Mobile viewport optimized: j.mp/bplateviewport -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<!-- Mobile IE needs ClearType for smoothing fonts -->
	<meta http-equiv="cleartype" content="on">
	
	<!-- StyleSheets under here -->
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />
	<link rel="stylesheet" href="JQMobile_Template/css/style.css"/>
	
	
	<!-- JavaScript is normally at the end of the body, except for Modernizr which enables HTML5 elements & feature detects -->
	<script src="JQMobile_Template/js/libs/modernizr.custom.min.js"></script>
	
	<!--<meta charset="utf-8"/>
        <title>Drumset Practice List</title>
	<meta name="description" content= "" />
	<meta name="keywords" content= "" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<link rel="stylesheet" href="styles.css" />
	-->
	<!--added BG image -->
	<script type="text/javascript">
	    $(function() {
		
		function openXml(){
		    $.ajax({
			url: "xhr/xml.php",
			type: "GET",
			dataType: "xml",
			success: function(xml, response) {
			    console.log(response);
				$(xml).find('item').each(function(){
				    var id = $(this).find('context').text();
				    var context = $(this).find('context').text();

				   // $('<div class="items" id="xlink'+id+'"></div>').html('Context: '+context).appendTo('#page');
				    //$(this).find('detail').each(function(){
					var practiceC   = $(this).find('practiceC').text();
					var prname 	= $(this).find('prname').text();
					var timesig 	= $(this).find('timesig').text();
					var bpms 	= $(this).find('bpms').text();
					var favorite 	= $(this).find('favorite').text();
					var date 	= $(this).find('date').text();
					var notes       = $(this).find('notes').text();
					
					$('<div class=""></div>').html("Practice Cat: " + practiceC).appendTo('#xlink' +id);
					$('<div class=""></div>').html("Practice name: " + prname).appendTo('#xlink' +id);
					$('<div class=""></div>').html("Time Sig: " + timesig).appendTo('#xlink' +id);
					$('<div class=""></div>').html("BPMs: " + bpms).appendTo('#xlink' +id);
					$('<div class=""></div>').html("Favorite: " + favorite).appendTo('#xlink' +id);
					$('<div class=""></div>').html("Date: " + date).appendTo('#xlink' +id);
					$('<div class=""></div>').html("Notes: " + notes).appendTo('#xlink' +id);

				    });
				});
			}
		    });
		}
		$('.xml').bind('click', openXml);  
	    });
	</script>
    </head>
    <body>
	<div data-role="page" id="home">
	    <div data-role="header" data-position="inline">
		    <h1>XML Data</h1>
	    </div>
	     <div data-role="content">
			<p><a href="#" class="xml" id="xml" data-role="button" data-theme="b"> Click to Load XML Data</a></p>
	     </div>
	     <div id="page">
		<h1 style="padding-left: 30px">I hope this works.</h1>
	     </div>
	</div>
	<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>
    </body>
</html>    