/*
  title: web app
  Author: Luis Puente
  VFW 1109
*/ 
  
h1 {
    text-align: center;
    color:#FFF;
    background-color:#B8B8B8;
    text-shadow: 1px 1px #000000;
    margin:0px;
    font-size:36px;
    
}

body {
    border: 1px solid black;
    width: 360px;
    background-color:#B8B8B8;
    
}
form {
    font-family:helvetica;
    background-color:#ABABAB;
    padding-top:5px;
    padding-bottom:10px;
}
label {
    display: block;
    margin: 5px;
}

fieldset {
    margin:5px;
}

#prname {
    margin-bottom:20px;
}

#timesig {
    margin-bottom:20px;
}

#BPMs {
    margin-bottom:20px;
}
   
#favorite {
    margin-bottom:20px;
}    

#date {
    margin-bottom:20px;
}

#Notes {
    margin-bottom:20px;
}

#sdata {
    margin-top:20px;
    margin-left:145px;
}
nav {
    padding-left:120px;
    display: block;

}

a:visited { color: red;}
a:hover { color: green;}
a:active { color: orange;}