/*
  title: web app
  Author: Luis Puente
  VFW 1109
*/ 
  
h1 {
    text-align: center;
    color:#FFF;
    background-color:#B8B8B8;
    text-shadow: 1px 1px #000000;
    margin:0px;
    font-size:36px;
    
}

body {
    border: 1px solid black;
    width: 360px;
    background-color:#B8B8B8;    
}

form {
    font-family:helvetica;
    background-color:#ABABAB;
    padding-top:5px;
    padding-bottom:10px;
}
label {
    display: block;
    list-style:none;

}

form ul li {
    list-style:none;
    text-align:left;
}


#prname {
    margin-bottom:20px;
    width:80%;
}

#timesig {
    margin-bottom:20px;
}

#BPMs {
    margin-bottom:20px;
    width:80%;
}
   
#favorite {
    margin-bottom:20px;
}    

#date {
    margin-bottom:20px;
}

#Notes {
    margin-bottom:20px;
    width:80%;
}

#sdata {
    margin-top:20px;
    margin-left:145px;
}
#clear {
    display: none;
    padding-left:120px;
}

#new {
    padding-left:10px;
}

a { margin: 10px;}
a:visited { color: red;}
a:hover { color: green;}
a:active { color: orange;}

#log {
    text-align:center;
    margin-top:50px;
}

#indexBod {
    background-color:#ABABAB;
}

#launchimg {
    padding-top:10px;
    padding-bottom:150px;
}